sort;void;f;Sort
array;int[];p;sort
Sum;int;f;Simple
isPrime;boolean;f;Prime
number;int;p;isPrime
arr1;char[];p;checkEquals
arr2;char[];p;checkEquals
checkEquals;boolean;f;JavaArrayAPI
length;int;s;_java_